*{
    /* font-family: 'Abril Fatface', cursive; */
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Bungee Shade', cursive; */
    /* font-family: 'Codystar', cursive; */
    /* font-family: 'Londrina Outline', cursive; */
    /* font-family: 'Londrina Sketch', cursive; */
}

:root{
    --gradient: linear-gradient(
        45deg,
        #845ec2,
        #d65db1,
        #ff6f91,
        #ff9671,
        #ffc75f,
        #f9f871
    );
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125em;
    /* line-height: 1.6; */
    color: #f95738;
    background: transparent;
    background: #1f145e;
    /* background-image: var(--gradient); */
    background-size: 400%;
    animation: bg-animation 10s infinite alternate;
}

/* .navBar {
    background-color: black;
    color: white;
    height: 100vh;
    width: 35vw;
    font-size: 50pt;
    text-transform: uppercase;
    padding-left: 40px;
} */

.home {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 40px;
    margin-bottom: 30px
}


@keyframes bg-animation {
    0% {background-position: left}
    100% {background-position: right}
}

.content {
    background-color: transparent;
    width: 65vw;
    height: 86vh;
    padding: 3em;
}

.title {
    margin: 0;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 6rem;
    color:#aeb8fe;
    /* line-height: 0.4; */
    color: #1f145e;
	text-shadow: -1px 1px 0 #aeb8fe,
				  1px 1px 0 #aeb8fe,
				  1px -1px 0 #aeb8fe,
				  -1px -1px 0 #aeb8fe;
}

.title span {
    color:#aeb8fe;
}

