*{
    font-family: 'Roboto', sans-serif;
}


body {
    font-size: 2.5em;
    color: #f95738;
    background: #1f145e;
}

.intro-scrolled{
    background: #ffd3ea;
    transition: background 400ms ease-in;
}

.header {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15%;
    line-height: 0.9; 
    padding-bottom: 10rem;
    background: transparent;
    transition: background 400ms ease-in;
}

.title {
    margin: 0;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 90pt;
    letter-spacing: 3px;
    color: #1f145e;
	text-shadow: -1px 1px 0px #aeb8fe,        
				  1px 1px 0 #aeb8fe,        
				  1px -1px 0 #aeb8fe,       
				  -1px -1px 0 #aeb8fe;     
}

.title span {
    color:#aeb8fe;
}


.intro-section {
    margin-top: 9rem;
    margin-bottom: 9rem;
    padding-left: 15%;
    padding-right: 10%;
    color: #ff4d95;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.intro-section > * {
    flex-basis: 100%;
}

.intro-section img{
    width: 300px;
    height: 500px;
}

.intro-section.item {
    margin: 4em;
}


.projects {
    margin-top: 9rem;
    margin-bottom: 9rem;
    padding-left: 15%;
    padding-right: 10%;
    color: #deff4d;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.projects-scrolled{
    background:#025c3c;
    transition: background 400ms ease-in;
}

.projects > * {
    flex-basis: 100%;
}

.projects img{
    width: 500px;
    height: 300px;
}


.social {
    margin-top: 9rem;
    margin-bottom: 9rem;
    padding-left: 15%;
    padding-right: 10%;
    color: #d89910;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.social a:link {
    color:#d89910;
    text-decoration: none;
}
/* 
.social a:hover {
    color: #54a31f;
} */

.social a:visited {
    color:#d89910;
}


.social-scrolled{
    background:#0a5edb;
    transition: background 400ms ease-in;
}

.social > * {
    flex-basis: 100%;
}

.social-art{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 60pt;
    letter-spacing: 3px;
    color: #0a5edb;
	text-shadow: -1px 1px 0px #d89910,        
				  1px 1px 0 #d89910,        
				  1px -1px 0 #d89910,       
				  -1px -1px 0 #d89910;
}


