*{
    /* font-family: 'Abril Fatface', cursive; */
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Bungee Shade', cursive; */
    /* font-family: 'Codystar', cursive; */
    /* font-family: 'Londrina Outline', cursive; */
    /* font-family: 'Londrina Sketch', cursive; */
}


body {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    font-size: 2.5em;
    color: #f95738;
    background: #1f145e;
}

.intro-scrolled{
    background: #ffd3ea;
    transition: background 400ms ease-in;
}

.header {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15%;
    line-height: 0.9; 
    padding-bottom: 10rem;
    background: transparent;
    transition: background 400ms ease-in;
}

.title {
    margin: 0;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 90pt;
    letter-spacing: 3px;
    color: #1f145e;
	text-shadow: -1px 1px 0px #aeb8fe,        
				  1px 1px 0 #aeb8fe,        
				  1px -1px 0 #aeb8fe,       
				  -1px -1px 0 #aeb8fe;     
}

.title span {
    color:#aeb8fe;
}


.intro-section {
    margin-top: 9rem;
    margin-bottom: 9rem;
    padding-left: 15%;
    padding-right: 10%;
    color: #ff4d95;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.intro-section > * {
    flex-basis: 100%;
}

.intro-section img{
    width: 300px;
    height: 500px;
}

.projects {
    margin-top: 9rem;
    margin-bottom: 9rem;
    padding-left: 15%;
    padding-right: 10%;
    color: #deff4d;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.projects-scrolled{
    background:#025c3c;
    transition: background 400ms ease-in;
}

.projects > * {
    flex-basis: 100%;
}

.projects img{
    width: 500px;
    height: 300px;
}

.intro-section.item {
    margin: 4em;
}



